header.header
    .header__container
        .body-header
            a.header__logo(href="/")
                img(src='img/icons/logo.svg' alt='logo')
            .header__menu.menu(data-da=".body-header,991,last")
                .menu__icon
                    span
                nav.menu__body
                    ul.menu__list
                        li
                            a.menu__link(data-goto='.page__section_1' href='#') О компании
                        li
                            a.menu__link(data-goto='.page__section_2' href='#') Услуги
                        li
                            a.menu__link(data-goto='.page__section_2' href='#') Кейсы
                        li
                            a.menu__link(data-goto='.page__section_3' href='#') Карьера
                        li
                            a.menu__link(data-goto='.page__section_3' href='#') Контакты
                    .menu__bottom


            .header__city.popup-link(data-popup="#popup_1") Краснодар
            .header__phone.header-phone(data-da=".menu__bottom,991,last")
                a.header-phone__link(href="tel:+79002477500") +7 (900) 247-75-00
                a.header__whatsapp(href="https://wa.me/79282100515")
                    svg(width='26', height='26', viewbox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd', clip-rule='evenodd', d='M22.2543 3.92364C19.8377 1.50427 16.624 0.171325 13.2 0.169922C6.14506 0.169922 0.403065 5.91145 0.400311 12.9686C0.399324 15.2245 0.988721 17.4265 2.10886 19.3675L0.292969 26.0001L7.07826 24.2203C8.94776 25.24 11.0527 25.7775 13.1949 25.7782H13.2001C13.2005 25.7782 13.1998 25.7782 13.2002 25.7782C20.2544 25.7782 25.9968 20.0361 25.9997 12.9788C26.001 9.55871 24.6709 6.3429 22.2543 3.92364ZM13.2001 23.6165H13.1957C11.2869 23.6158 9.41449 23.1029 7.78107 22.1336L7.39265 21.9031L3.36616 22.9593L4.44093 19.0335L4.18796 18.631C3.12305 16.9372 2.56062 14.9795 2.56145 12.9693C2.56374 7.1037 7.33627 2.33168 13.2044 2.33168C16.0459 2.33257 18.717 3.44065 20.7256 5.45153C22.7342 7.46241 23.8397 10.1353 23.8386 12.9779C23.8362 18.844 19.0638 23.6165 13.2001 23.6165Z', fill='white')
                        path(fill-rule='evenodd', clip-rule='evenodd', d='M19.0355 15.6487C18.7157 15.4886 17.1433 14.715 16.8502 14.6082C16.5571 14.5015 16.3438 14.4481 16.1306 14.7683C15.9175 15.0884 15.3045 15.8088 15.118 16.0223C14.9314 16.2356 14.7448 16.2625 14.4251 16.1022C14.1053 15.9422 13.0748 15.6045 11.8532 14.5149C10.9024 13.6668 10.2606 12.6196 10.0739 12.2993C9.88742 11.9792 10.0541 11.8061 10.2142 11.6466C10.3581 11.5033 10.5341 11.2731 10.694 11.0863C10.8539 10.8997 10.9072 10.7661 11.0138 10.5528C11.1204 10.3394 11.0671 10.1526 10.9871 9.99255C10.9072 9.83247 10.2676 8.25828 10.0011 7.61781C9.74142 6.99428 9.47779 7.07876 9.28145 7.06884C9.09518 7.05954 8.88169 7.05762 8.66851 7.05762C8.45533 7.05762 8.10878 7.13768 7.8157 7.45779C7.52256 7.778 6.69629 8.55179 6.69629 10.1258C6.69629 11.7001 7.8423 13.2208 8.00222 13.4342C8.16209 13.6478 10.2574 16.878 13.4656 18.2633C14.2287 18.5929 14.8244 18.7896 15.2888 18.937C16.055 19.1805 16.7522 19.1461 17.3033 19.0637C17.9177 18.9719 19.1955 18.2901 19.4619 17.5431C19.7285 16.796 19.7285 16.1555 19.6485 16.0222C19.5686 15.8889 19.3553 15.8088 19.0355 15.6487Z', fill='white')
            button.button-border-w.header__collback.popup-link(data-popup="#popup_3" data-da=".menu__bottom,991,last") ОБРАТНЫЙ ЗВОНОК

