.pagging
    a.pagging__arrow(href='') «

    a.pagging__arrow(href='') ‹

    ul.pagging__list
        li
            a.pagging__item._active(href='') 01
        li
            a.pagging__item(href='') 02
        li
            a.pagging__item(href='') 03


    a.pagging__arrow(href='') ›

    a.pagging__arrow(href='') »

