section.contact-form
    .contact-form__container
        .contact-form__img
            img(src="img/svg/9.svg" alt="")

        form.contact-form__form
            h2.contact-form__title Скачайте гайд!
            .contact-form__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis, sed non vestibulum sit lectus vitae. Id pellentesque pretium quam nisi.

            .contact-form__inputs
                input.input(placeholder="Ваше имя")
                input.input(placeholder="Ваш телефон")

            .contact-form__polotic Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
            button.button ОТПРАВИТЬ
