section.map
    .map__container
        .map__text
            p г. Краснодар, Дальний проезд 9, кор 1
            a.map__tel(href="tel:+7 (928) 210 05 15") +7 (928) 210 05 15
            a.map__mail(href="mailto:designschool@bricktobrick.ru") designschool@bricktobrick.ru
            .map__soc
                p Мы в соц сетях
                .footer-soc
                    a(href="#")
                        svg(width='41', height='41', viewbox='0 0 41 41', fill='none', xmlns='http://www.w3.org/2000/svg')
                            circle(cx='20.1895', cy='20.4126', r='19', stroke='#000', stroke-width='2')
                            path(d='M16.4095 11.4126H23.9695C26.8495 11.4126 29.1895 13.7526 29.1895 16.6326V24.1926C29.1895 25.577 28.6395 26.9048 27.6606 27.8837C26.6816 28.8626 25.3539 29.4126 23.9695 29.4126H16.4095C13.5295 29.4126 11.1895 27.0726 11.1895 24.1926V16.6326C11.1895 15.2482 11.7394 13.9204 12.7184 12.9415C13.6973 11.9626 15.025 11.4126 16.4095 11.4126ZM16.2295 13.2126C15.3702 13.2126 14.546 13.554 13.9384 14.1616C13.3308 14.7692 12.9895 15.5933 12.9895 16.4526V24.3726C12.9895 26.1636 14.4385 27.6126 16.2295 27.6126H24.1495C25.0088 27.6126 25.8329 27.2712 26.4405 26.6636C27.0481 26.056 27.3895 25.2319 27.3895 24.3726V16.4526C27.3895 14.6616 25.9405 13.2126 24.1495 13.2126H16.2295ZM24.9145 14.5626C25.2128 14.5626 25.499 14.6811 25.7099 14.8921C25.9209 15.1031 26.0395 15.3892 26.0395 15.6876C26.0395 15.986 25.9209 16.2721 25.7099 16.4831C25.499 16.6941 25.2128 16.8126 24.9145 16.8126C24.6161 16.8126 24.3299 16.6941 24.119 16.4831C23.908 16.2721 23.7895 15.986 23.7895 15.6876C23.7895 15.3892 23.908 15.1031 24.119 14.8921C24.3299 14.6811 24.6161 14.5626 24.9145 14.5626ZM20.1895 15.9126C21.3829 15.9126 22.5275 16.3867 23.3714 17.2306C24.2153 18.0745 24.6895 19.2191 24.6895 20.4126C24.6895 21.6061 24.2153 22.7507 23.3714 23.5946C22.5275 24.4385 21.3829 24.9126 20.1895 24.9126C18.996 24.9126 17.8514 24.4385 17.0075 23.5946C16.1636 22.7507 15.6895 21.6061 15.6895 20.4126C15.6895 19.2191 16.1636 18.0745 17.0075 17.2306C17.8514 16.3867 18.996 15.9126 20.1895 15.9126ZM20.1895 17.7126C19.4734 17.7126 18.7866 17.9971 18.2803 18.5034C17.7739 19.0098 17.4895 19.6965 17.4895 20.4126C17.4895 21.1287 17.7739 21.8154 18.2803 22.3218C18.7866 22.8281 19.4734 23.1126 20.1895 23.1126C20.9055 23.1126 21.5923 22.8281 22.0986 22.3218C22.605 21.8154 22.8895 21.1287 22.8895 20.4126C22.8895 19.6965 22.605 19.0098 22.0986 18.5034C21.5923 17.9971 20.9055 17.7126 20.1895 17.7126Z', fill='#000')

                    a(href="#")
                        svg(width='41', height='41', viewbox='0 0 41 41', fill='none', xmlns='http://www.w3.org/2000/svg')
                            circle(cx='20.1895', cy='20.4126', r='19', stroke='#000', stroke-width='2')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M28.7657 16.1626C28.8992 15.7396 28.7657 15.4321 28.1751 15.4321H26.2112C25.7158 15.4321 25.4871 15.7013 25.3536 15.9893C25.3536 15.9893 24.3433 18.4494 22.9326 20.0442C22.4751 20.5055 22.2655 20.6592 22.0176 20.6592C21.8841 20.6592 21.7123 20.5055 21.7123 20.0829V16.1427C21.7123 15.6432 21.5601 15.4126 21.1405 15.4126H18.052C17.7467 15.4126 17.5562 15.6432 17.5562 15.8738C17.5562 16.3542 18.2616 16.4697 18.3377 17.8149V20.7376C18.3377 21.3717 18.2252 21.4876 17.9755 21.4876C17.3083 21.4876 15.688 19.0085 14.716 16.1836C14.527 15.6241 14.335 15.4126 13.8392 15.4126H11.8566C11.2847 15.4126 11.1895 15.6815 11.1895 15.9698C11.1895 16.4888 11.8566 19.1022 14.2967 22.5612C15.9171 24.9237 18.2237 26.1935 20.3016 26.1935C21.5601 26.1935 21.7123 25.9051 21.7123 25.4247V23.6375C21.7123 23.0611 21.8267 22.9651 22.2272 22.9651C22.513 22.9651 23.0278 23.1185 24.1907 24.2525C25.525 25.5976 25.7537 26.2126 26.4973 26.2126H28.4609C29.0327 26.2126 29.2997 25.9242 29.1471 25.367C28.9757 24.8097 28.3274 24.0027 27.4885 23.042C27.031 22.5042 26.3447 21.9084 26.1351 21.62C25.8493 21.2356 25.9255 21.0819 26.1351 20.7361C26.116 20.7361 28.5182 17.3154 28.7657 16.1611', fill='#000')


        #map
