section.blog
    .blog__container
        .blog__filter
            button.active Все
            button Мероприятия
            button Новости
            button Полезные статьи
        .blog__grid
            a.blog__item.blog--item(href="#")
                .blog--item__img-ibg
                    img(src="img/png/6.png" alt="")
                h3.blog--item__title День открытых дверей в школе архетиктуры и дизайна
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac proin sit in enim dignissim mauris.
                 |At non dictumst erat sapien pellentesque sed.
                .blog--item__date 17 мая 2022
            a.blog__item.blog--item(href="#")
                .blog--item__img-ibg
                    img(src="img/png/6.png" alt="")
                h3.blog--item__title День открытых дверей в школе архетиктуры и дизайна
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac proin sit in enim dignissim mauris. At non dictumst erat sapien pellentesque sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac proin sit in enim dignissim mauris. At non dictumst erat sapien pellentesque sed.
                .blog--item__date 17 мая 2022
            a.blog__item.blog--item(href="#")
                .blog--item__img-ibg
                    img(src="img/png/6.png" alt="")
                h3.blog--item__title День открытых дверей в школе архетиктуры и дизайна
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac proin sit in enim dignissim mauris.
                 |At non dictumst erat sapien pellentesque sed.
                .blog--item__date 17 мая 2022
            a.blog__item.blog--item(href="#")
                .blog--item__img-ibg
                    img(src="img/png/6.png" alt="")
                h3.blog--item__title День открытых дверей в школе архетиктуры и дизайна
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac proin sit in enim dignissim mauris.
                 |At non dictumst erat sapien pellentesque sed.
                .blog--item__date 17 мая 2022
            a.blog__item.blog--item(href="#")
                .blog--item__img-ibg
                    img(src="img/png/6.png" alt="")
                h3.blog--item__title День открытых дверей в школе архетиктуры и дизайна
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac proin sit in enim dignissim mauris.
                 |At non dictumst erat sapien pellentesque sed.
                .blog--item__date 17 мая 2022
            a.blog__item.blog--item(href="#")
                .blog--item__img-ibg
                    img(src="img/png/6.png" alt="")
                h3.blog--item__title День открытых дверей в школе архетиктуры и дизайна
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac proin sit in enim dignissim mauris.
                 |At non dictumst erat sapien pellentesque sed.
                .blog--item__date 17 мая 2022
        include ./../../pug/_basic/_pagination
