section.internal
    .internal__container
        .internal__main-ibg
            img(src="img/png/8.png" alt="")
        .internal__description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio varius dui diam urna laoreet mauris augue amet. At habitasse tellus, eget tellus. Consequat arcu nibh amet neque adipiscing. Nisl dapibus arcu nunc congue habitant libero. Accumsan lorem magna vitae nulla pretium quis purus nisl, sed. Pretium, amet amet, accumsan diam. Amet, diam ornare arcu, pulvinar libero imperdiet. Velit eget enim nunc arcu ullamcorper libero orci, viverra leo. Sagittis condimentum maecenas morbi risus. Porttitor facilisi consectetur in integer interdum elementum. Malesuada felis faucibus cursus orci, a nisi. Sed sit blandit id mattis facilisis ac, arcu aliquet.
            p Purus cursus est suspendisse viverra purus. Nibh est risus pulvinar fringilla. Duis viverra enim proin rutrum vestibulum et. Ac iaculis pulvinar amet commodo rutrum nunc viverra netus sit. Proin cras vestibulum nibh suspendisse sollicitudin dignissim sagittis. Felis nibh risus massa cursus nibh. Urna pellentesque amet amet consequat. Sit cursus elit vel fermentum, pellentesque. Viverra scelerisque a quam integer feugiat. Tempus, nisi, lorem enim id vel gravida pellentesque. Egestas enim fringilla magna ullamcorper suscipit fusce. Sit congue purus tristique mattis morbi euismod pretium gravida. Fermentum ultricies blandit mauris pellentesque blandit odio. Ac fames id pharetra a amet egestas natoque malesuada eu.
            p Eget blandit et facilisi pellentesque. Ac pretium, quam sed faucibus laoreet purus. Risus orci vivamus consectetur sit eget magna. Ultrices nibh at urna, venenatis, lacus, non, cras sagittis, pellentesque. Sollicitudin volutpat turpis turpis rhoncus, massa nullam fames volutpat mauris. Eget semper a integer nisl dignissim sed pretium. Scelerisque ligula eu cras mi. Et etiam curabitur amet tincidunt in iaculis faucibus eget. Risus ac, in aenean neque placerat. Morbi eget lectus est magnis risus, fermentum. Eu nibh amet vulputate orci dui sit vulputate cursus diam. Mauris, purus egestas nam et felis aenean vulputate tortor neque. Nullam netus integer ullamcorper lectus convallis. Auctor bibendum in blandit ornare ut tellus ut vitae eget.

        .internal__grid
            .internal__img-ibg
                img(src="img/png/8.png" alt="")
            .internal__img-ibg
                img(src="img/png/9.png" alt="")
        .internal__description
            p Purus cursus est suspendisse viverra purus. Nibh est risus pulvinar fringilla. Duis viverra enim proin rutrum vestibulum et. Ac iaculis pulvinar amet commodo rutrum nunc viverra netus sit. Proin cras vestibulum nibh suspendisse sollicitudin dignissim sagittis. Felis nibh risus massa cursus nibh. Urna pellentesque amet amet consequat. Sit cursus elit vel fermentum, pellentesque. Viverra scelerisque a quam integer feugiat. Tempus, nisi, lorem enim id vel gravida pellentesque. Egestas enim fringilla magna ullamcorper suscipit fusce. Sit congue purus tristique mattis morbi euismod pretium gravida. Fermentum ultricies blandit mauris pellentesque blandit odio. Ac fames id pharetra a amet egestas natoque malesuada eu

        .internal__date 17 мая 2022
            p разобрался с линтером настроил его
            p разбирался с vite
            p начал верстать лк активейта 3 страницы уже готово , но это пока верста , как все стр доделаю то буду работать с vue
