section.internal-pagination
    .internal-pagination__container
        a.internal-pagination__item(href="")
            .internal-pagination__img-ibg
                img(src="img/png/8.png" alt="")
            .internal-pagination__text
                .grey « Предыдущая статья
                .blue Дошкольное развитие ребенка с помощью уроков дизайна и архетиктуры


        a.internal-pagination__item(href="")
            .internal-pagination__img-ibg
                img(src="img/png/8.png" alt="")
            .internal-pagination__text
                .grey Следующая статья »
                .blue Дошкольное развитие ребенка с помощью уроков дизайна и архетиктуры
