.video {
  margin: 30px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include mq('tablet-wide') {
    margin: 60px 0;
  }
}
.video-body{
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text{
    color: $color_1;
    @include adaptiv-font(36,18);
    font-weight: 700;

  }
}