section.sec-acquaintances.acquaintances
    .__container
        .acquaintances-body
            h2.acquaintances__title Давайте знакомиться
            .acquaintances__description
                p Мы студия дизайна Brick to brick
                p Так как Brick to brick стремительно развивается и покоряет новые горизонты, мы решили открыть детскую школу дизайна и архитектуры, где собрали наших самых опытных специалистов, которые поделятся своими заниями с начинающими архитекторами!
                p Мы хотим заинтересовать как можно больше детей в искусстве, привить подрастающему поколению чувство прекрасного, дать первый серьёзный шаг на пути к престижной профессии.
            ul.acquaintances__list
                li <b>3</b> <p>года обучение</p>
                li <span>более</span> <b>300</b> <p>уроков</p>
                li <b>10</b> <p>дипломированных преподавателей</p>
                li <span>более</span> <b>50</b> <p>учеников</p>
            a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" style='background-image: url(img/video.png);').acquaintances__video.acquaintances-video
                    img(src="img/icons/play.svg").acquaintances-video__pic
