section.business2
    .__container
        h2.business2__title Почему стоит начать бизнес по <br> франшизе именно с нами?
        .business2__body
            .business__column.business-column
                .business2-column__ic
                    img(src="img/lightning.svg" alt="")
                .business2-column__title Быстрый запуск
                ul.business2-column__list
                    li Первая прибыль через 31 день
                    li Продажа первого проекта через 2 недели
                    li Окупаемость — 3 клиента
            .business2__column.business2-column
                .business2-column__ic
                    img(src="img/lightning.svg" alt="")
                .business2-column__title Быстрый запуск
                ul.business2-column__list
                    li Первая прибыль через 31 день
                    li Продажа первого проекта через 2 недели
                    li Окупаемость — 3 клиента
            .business2__column.business-column
                .business2-column__ic
                    img(src="img/lightning.svg" alt="")
                .business2-column__title Быстрый запуск
                ul.business2-column__list
                    li Первая прибыль через 31 день
                    li Продажа первого проекта через 2 недели
                    li Окупаемость — 3 клиента


    .business2__img
        img(src="img/png/12.png" alt="")

