section.business
    .__container
        .business__title.title  Почему стоит начать бизнес по франшизе именно с нами?
        .business__body
            .business__column.business-column
                .business-column__ic
                    img(src="img/lightning.svg" alt="")
                .business-column__title Быстрый запуск
                ul.business-column__list
                    li Первая прибыль через 31 день
                    li Продажа первого проекта через 2 недели
                    li Окупаемость — 3 клиента
            .business__column.business-column
                .business-column__ic
                    img(src="img/lightning.svg" alt="")
                .business-column__title Быстрый запуск
                ul.business-column__list
                    li Первая прибыль через 31 день
                    li Продажа первого проекта через 2 недели
                    li Окупаемость — 3 клиента
            .business__column.business-column
                .business-column__ic
                    img(src="img/lightning.svg" alt="")
                .business-column__title Быстрый запуск
                ul.business-column__list
                    li Первая прибыль через 31 день
                    li Продажа первого проекта через 2 недели
                    li Окупаемость — 3 клиента


    .business__img
        img(src="img/form.png" alt="")

