section.earnings(style="background-image: url(img/green-bg.png);")
    .__container
        .earnings__title.title  На чем вы будете зарабатывать?
        .earnings__slider._swiper
            .earnings__slide.earnings-slide
                .earnings-slide__img(style="background-image: url(img/sl1.png);")
                .earnings-slide__title Индивидуальные занятия
            .earnings__slide.earnings-slide
                .earnings-slide__img(style="background-image: url(img/sl2.png);")
                .earnings-slide__title Групповые занятия
            .earnings__slide.earnings-slide
                .earnings-slide__img(style="background-image: url(img/sl3.png);")
                .earnings-slide__title Летний лагерь
