section.sec-first.first2
    .first2-body.__container

        .first2-body__content
            h1 Франшиза детской школы <br> архитектуры и дизайна
            ul
                li Быстрый запуск студии 21 день
                li Окупаемость 3 клиента
                li Заработок от 350 тыс. руб. ежемесячно
            a.first2-body-btn.button.popup-link(href='#popup_1') ЗАПИСАТЬСЯ НА ПРОБНОЕ ЗАНЯТИЕ

    .first2__bg
        img(src='img/png/11.png' alt='')
