section.sec-form2
    .__container
        .form2-body
            .form2__title.title Закажите финансовый план, в котором есть подробная информация о вашем заработке.
            form.form2
                .form2__inputs
                    input.form__input(placeholder="Ваш город")
                    input.form__input(placeholder="Ваше имя")
                    input.form__input(placeholder="Ваш телефон")
                    input.form__input(placeholder="Ваш e-mail")
                .form2__politic Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
                .form__btn.button ОТПРАВИТЬ
