section.sec-form1
    .__container
        .form1-body
            .form1__left
                .form1__title.title Узнали себя?  Оставьте заявку и мы расскажем подробнее.
                .form1__img
                    img(src="img/form1.png" )


            .form1__right
                form.form1
                    .form1__inputs
                        input.form__input(placeholder="Ваш город")
                        input.form__input(placeholder="Ваше имя")
                        input.form__input(placeholder="Ваш телефон")
                        input.form__input(placeholder="Ваш e-mail")
                    .form1__politic Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
                    .form__btn.button ОТПРАВИТЬ
