section.form5
    .__container.pad-form1
        .form5-body(data-da=".pad-form1,767,0")
            .form5-body__content
                .form5__title Подключайтесь к сети Brick to Brick в числе первых на особых условиях до 30 августа 2021 года. Чтобы узнать условия - оставьте заявку.
                form.form5__inputs
                    input.form__input(placeholder="Ваш город")
                    input.form__input(placeholder="Ваш e-mail")
                    input.form__input(placeholder="Ваше имя")
                    input.form__input(placeholder="Ваш телефон")
                .form__politic Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
                .form__btn.button ОТПРАВИТЬ

