section.form4
    .form4__container
        .form4__img
            img(src="img/svg/8.svg")
        form.form4-form
            h2.form4__title Скачайте гайд!
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis, sed non vestibulum sit lectus vitae. Id pellentesque pretium quam nisi.
            .form4__grid
                input.form__input(placeholder="Ваш телефон")
                button.button СКАЧАТЬ
            .form4__politic Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
