section.gallery
    .gallery-body
        .gallery__column(style='background-image: url("img/gl1.png")')
        .gallery__column(style='background-image: url("img/gl2.png")')
        .gallery__column(style='background-image: url("img/gl3.png")')
        .gallery__column(style='background-image: url("img/gl4.png")')
        .gallery__column(style='background-image: url("img/gl5.png")')
        .gallery__column(style='background-image: url("img/gl6.png")')