section.groups2
    .__container
        h2.groups2__title Возрастные группы
        .groups2__description Мы ведем набор в несколько групп, чтобы ученики чувствовали себя комфортно среди сверстников и получали материал, ориентированный на их возраст. Во всём мире ищут креативно мыслящих дизайнеров и архитекторов. Поэтому мы на своих занятиях развиваем нестандартное мышление у ребят, творческий подход к любому делу с ранних лет.
        .groups2-body
            a.groups2-body__card.groups2-card.popup-link(href='#popup_1')
                .groups2-card__img
                    img(src="img/card1.png" alt='')
                .groups2-card__title Предприниматели
                p  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.

            a.groups2-body__card.groups2-card.popup-link(href='#popup_1')
                .groups2-card__img
                    img(src="img/card2.png" alt='')
                .groups2-card__title Действующие дизайнеры и архитекторы
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.

            a.groups2-body__card.groups2-card.popup-link(href='#popup_1')
                .groups2-card__img
                    img(src="img/card3.png" alt='')
                .groups2-card__title Без опыта, но с большим желанием работать
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.

