section.groups
    .__container
        h2.groups__title Возрастные группы
        .groups__description Мы ведем набор в несколько групп, чтобы ученики чувствовали себя комфортно среди сверстников и получали материал, ориентированный на их возраст. Во всём мире ищут креативно мыслящих дизайнеров и архитекторов. Поэтому мы на своих занятиях развиваем нестандартное мышление у ребят, творческий подход к любому делу с ранних лет.
        .groups-body
            a.groups-body__card.groups-card.popup-link(href='#popup_1')
                .groups-card__img
                    img(src="img/card1.png" alt='')
                .groups-card__title Младшая группа 6-9 лет
                .groups-card__btn УЗНАТЬ ПОДРОБНЕЕ
            a.groups-body__card.groups-card.popup-link(href='#popup_1')
                .groups-card__img
                    img(src="img/card2.png" alt='')
                .groups-card__title Младшая группа 10-13 лет
                .groups-card__btn УЗНАТЬ ПОДРОБНЕЕ
            a.groups-body__card.groups-card.popup-link(href='#popup_1')
                .groups-card__img
                    img(src="img/card3.png" alt='')
                .groups-card__title Младшая группа 14-17 лет
                .groups-card__btn УЗНАТЬ ПОДРОБНЕЕ
