section.learn
    .__container
        h2.learn-title Чему научится ваш ребёнок
        .learn-body
            .learn-body__text
                h3 Уверенности и самопрезентации
                ul
                    li Ораторское искусство
                    li Продвижение своего проекта
                    li Навыки грамотно доносить информацию до аудитории
                p Мы поощряем принятие решений у детей. Это важный жизненный навык, который ребенок должен освоить, чтобы обрести уверенность в себе. Наши преподаватели акцентируют внимание на сильных сторонах учащихся, чтобы дети чувствовали себя способными развиваться и выполнять различные задачи
                br
                br
                h3 Уверенности и самопрезентации
                ul
                    li Ораторское искусство
                    li Продвижение своего проекта
                    li Навыки грамотно доносить информацию до аудитории
                p Мы поощряем принятие решений у детей. Это важный жизненный навык, который ребенок должен освоить, чтобы обрести уверенность в себе. Наши преподаватели акцентируют внимание на сильных сторонах учащихся, чтобы дети чувствовали себя способными развиваться и выполнять различные задачи
            .learn-body__img
                img(src="img/learn1.png")
        .learn-body.revers
            .learn-body__text
                h3 Уверенности и самопрезентации
                ul
                    li Ораторское искусство
                    li Продвижение своего проекта
                    li Навыки грамотно доносить информацию до аудитории
                p Мы поощряем принятие решений у детей. Это важный жизненный навык, который ребенок должен освоить, чтобы обрести уверенность в себе. Наши преподаватели акцентируют внимание на сильных сторонах учащихся, чтобы дети чувствовали себя способными развиваться и выполнять различные задачи
                br
                br
                h3 Уверенности и самопрезентации
                ul
                    li Ораторское искусство
                    li Продвижение своего проекта
                    li Навыки грамотно доносить информацию до аудитории
                p Мы поощряем принятие решений у детей. Это важный жизненный навык, который ребенок должен освоить, чтобы обрести уверенность в себе. Наши преподаватели акцентируют внимание на сильных сторонах учащихся, чтобы дети чувствовали себя способными развиваться и выполнять различные задачи
            .learn-body__img
                img(src="img/learn2.png")
