section.earn
    .__container
        .earn-title.title Чему научится ваш ребёнок
        .earn-body
            .earn-body__text
                h2 До 4 200 000 р. в год
                p чистая прибыль в год
                .earn-blocks
                    .earn-block
                        h3 От 440 000 р.
                        p средняя выручка с одного проекта
                    .earn-block
                        h3 От 350 000 р.
                        p ежемесячно
                    .earn-block
                        h3 За 9 месяцев
                        p инвестиции полностью окупятся
            .earn-body__img
                img(src="img/learn1.png")
