section.online-meeting
    .__container
        .online-meeting-body
            .online-meeting-body__img
                img(src="img/learn2.png")
            .online-meeting-body__text
                .online-meeting__title.title Назначьте online-встречу
                p Оставьте заявку, чтобы получить информацию о работающем бизнес-плане, в котором учтены все затраты и доходы с перспективой на несколько лет.
                br
                p На встрече в Skype мы расскажем про нашу франшизу, ответим на Ваши вопросы, прокомментируем бизнес-план для вашего города.
                br
                p Мы подробно разберем финансовую модель, чтобы у вас было ясное представление о том, как и сколько вы будете зарабатывать.
                .online-meeting__btn  НАЗНАЧИТЬ ВСТРЕЧУ
            form.form3
                .form1__inputs
                    input.form__input(placeholder="Ваше имя")
                    input.form__input(placeholder="Ваш телефон")
                    input.form__input(placeholder="Ваш e-mail")
                .form3__politic Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
                .online-meeting__btn ОТПРАВИТЬ

