section.questions(style="background-image: url('./../../../img/map.png')")
    .__container
        h2.questions-title Вопросы и ответы
        .questions-text Мы понимаем, что открытие своего дела-это важный шаг, который полностью изменит вашу жизнь. Здесь мы собрали ответы на основные сомнения, которые были у наших партнеров, когда они принимали решение.
        .questions-spollers
            .questions-spoller(data-spollers)
                .questions-spoller__title(data-spoller) Ребенок может обучиться творчеству по видеоурокам в интеренете, зачем нужно приходить к вам?
                .questions-spoller__description
                    p Обучение по видеоурокам – ненадёжный и сомнительный путь.
                    ul
                        li Во-первых, надо быть уверенным, что этот материал хорошего уровня с профессиональной точки зрения.
                        li Во-вторых, ребенка постоянно нужно направлять, хвалить, мягко указывать на ошибки – сделать это может только профессионал в школе дизайна и архитектуры.
                        li В-третьих, все наши уроки уроки проходят в формате геймификации, чтобы заинтересовать юных архитекторов и дизайнеров!

            .questions-spoller(data-spollers)
                .questions-spoller__title(data-spoller) Ребенок может обучиться творчеству по видеоурокам в интеренете, зачем нужно приходить к вам?
                .questions-spoller__description
                    p Обучение по видеоурокам – ненадёжный и сомнительный путь.
                    ul
                        li Во-первых, надо быть уверенным, что этот материал хорошего уровня с профессиональной точки зрения.
                        li Во-вторых, ребенка постоянно нужно направлять, хвалить, мягко указывать на ошибки – сделать это может только профессионал в школе дизайна и архитектуры.
                        li В-третьих, все наши уроки уроки проходят в формате геймификации, чтобы заинтересовать юных архитекторов и дизайнеров!


            .questions-spoller(data-spollers)
                .questions-spoller__title(data-spoller) Ребенок может обучиться творчеству по видеоурокам в интеренете, зачем нужно приходить к вам?
                .questions-spoller__description
                    p Обучение по видеоурокам – ненадёжный и сомнительный путь.
                    ul
                        li Во-первых, надо быть уверенным, что этот материал хорошего уровня с профессиональной точки зрения.
                        li Во-вторых, ребенка постоянно нужно направлять, хвалить, мягко указывать на ошибки – сделать это может только профессионал в школе дизайна и архитектуры.
                        li В-третьих, все наши уроки уроки проходят в формате геймификации, чтобы заинтересовать юных архитекторов и дизайнеров!

            .questions-spoller(data-spollers)
                .questions-spoller__title(data-spoller) Ребенок может обучиться творчеству по видеоурокам в интеренете, зачем нужно приходить к вам?
                .questions-spoller__description
                    p Обучение по видеоурокам – ненадёжный и сомнительный путь.
                    ul
                        li Во-первых, надо быть уверенным, что этот материал хорошего уровня с профессиональной точки зрения.
                        li Во-вторых, ребенка постоянно нужно направлять, хвалить, мягко указывать на ошибки – сделать это может только профессионал в школе дизайна и архитектуры.
                        li В-третьих, все наши уроки уроки проходят в формате геймификации, чтобы заинтересовать юных архитекторов и дизайнеров!

