section.form.qviz
    .form__container.pad-form1
        .form-body
            .form-body__content
                h2.form__title Подойдет ли ребенку обучение в нашей школе?
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam sit consequat arcu rhoncus, nunc. Sed consectetur hac aliquam vulputate ante.

                .form__btn.button.mt-30 ПРОЙТИ ОПРОС

            .form__img
                img(src="img/png/4.png")
