section.rates
    .__container
        .rates__title.title Тарифы на франшизу
        .rates__body
            .rates__column.rates-column
                .rates-column__title City
                .rates-column__descreption Город до 500 000 человек Срок договора 2 года
                .rates-column__btn УЗНАТЬ ПОДРОБНЕЕ
            .rates__column.rates-column
                .rates-column__title City
                .rates-column__descreption Город до 500 000 человек Срок договора 2 года
                .rates-column__btn УЗНАТЬ ПОДРОБНЕЕ
            .rates__column.rates-column
                .rates-column__title City
                .rates-column__descreption Город до 500 000 человек Срок договора 2 года
                .rates-column__btn УЗНАТЬ ПОДРОБНЕЕ
