section.receive
    .__container
        .receive__title.title Что вы получите, работая с нами
        .receive-wrapper
            .receive__body.receive-body
                .receive-body__title Обучение
                ul.receive-body__list
                    li Весь наш опыт, упакованный в уникальную электронную базу знаний в личном кабинете
                    li Полное погружение в сферу дизайна по 7 темам
            .receive__body.receive-body
                .receive-body__title  Постоянная поддержка управляющей компании
                ul.receive-body__list
                    li Закрепление выделенного специалиста/куратора, который на связи 24/7
                    li Помощь в подборе команды: дизайнеры прорабы, комплектаторы, руководители проектов

            .receive__body.receive-body
                .receive-body__title  Информационные материалы
                ul.receive-body__list
                    li Готовый продающий сайт и оформленные социальные сети
                    li Продающие скрипты и техники общения
                    li Готовая юридическая документация

            .receive__body.receive-body
                .receive-body__title  Вспомогательные материалы
                ul.receive-body__list
                    li Гайдлайн по фирменному стилю
                    li Календарный план запуска дизайн-студии
                    li Дизайн-проект будущего офиса

            .receive__body.receive-body
                .receive-body__title  Уникальная система автоматизации Brick to brick
                ul.receive-body__list
                    li Подключение CRM-системы, позволяющей максимально автоматизировать бизнес-процессы
                    li Подключение к собственной внутренней ERP-системе для максимальной автоматизации процесса производства дизайн-проекта

            .receive__body.receive-body
                .receive-body__title  Маркетинг
                ul.receive-body__list
                    li Собственная digital-студия, привлекающая для вас клиентов
                    li Настроенные рекламные кампании в Яндекс/Google/Instargram/Facebook
                    li Собственный Youtube канал



