section.team
    .__container
        h2.team__title Наша команда
        .team__description Наша школа — это площадка, где каждый ребенок может получить первую «профессию», не откладывая на потом свою мечту стать дизайнером! Мы сделали упор на практику, чтобы детям было интересно, а их глаза светились от желания узнать новое: обучение построено на практическом применении всех полученных знаний. Никаких скучных лекций!
        .team-cards
            .team-card
                .team-card__img
                    img(src="img/card4.png")
                .team-card__name Татьяна Нетребко
                .team-card__post Директор школы
            .team-card
                .team-card__img
                    img(src="img/card5.png")
                .team-card__name Татьяна Нетребко
                .team-card__post Директор школы
            .team-card
                .team-card__img
                    img(src="img/card6.png")
                .team-card__name Татьяна Нетребко
                .team-card__post Директор школы
            .team-card
                .team-card__img
                    img(src="img/card7.png")
                .team-card__name Татьяна Нетребко
                .team-card__post Директор школы
