section.training
    .__container
        h2.training-title Результаты обучения
        .training-description Школа дизайна и архитектуры для детей – это великолепная база, которая открывает перед ребенком множество дорог, помогает найти себя и развить творческий потенциал. Приходи к нам – стань архитектором своей жизни!
        .training-body
            .training-column
                .training-column__ic
                    img(src="img/icons/1.svg")
                .training-column__title Бумагопластика
                .training-column__text Ваш ребенок овладеет знаниями бумажной пластики и спроектирует архитектурное киригами.
            .training-column
                .training-column__ic
                    img(src="img/icons/11.svg")
                .training-column__title Создание композиций
                .training-column__text Ваш ребенок овладеет знаниями бумажной пластики и спроектирует архитектурное киригами.
            .training-column
                .training-column__ic
                    img(src="img/icons/111.svg")
                .training-column__title Архитектурное проектирование
                .training-column__text Ваш ребенок овладеет знаниями бумажной пластики и спроектирует архитектурное киригами.
            .training-column
                .training-column__ic
                    img(src="img/icons/3.svg")
                .training-column__title Окончание обучения
                .training-column__text Ваш ребенок овладеет знаниями бумажной пластики и спроектирует архитектурное киригами.
