section.video(style="background-image: url(img/video1.png)")
    a.video-body(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
        .video-body__ic
            img(src="img/icons/play.svg")
        .video-body__text Школа архитектуры и дизайна Brick to Brick