body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 99;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup_show {
  visibility: visible;
  overflow: auto;
}

.popup__close {
  outline: none;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  background: none;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;


  .lock & {
    visibility: visible;
  }
}

.popup__title{
  @include adaptiveValue(font-size, 34, 24);
  font-weight: bold;
  @include adaptiveValue(margin-bottom, 10, 10);
}

.popup__text{
  @include adaptiveValue(font-size, 16, 14);
  @include adaptiveValue(margin-bottom, 30, 30);
}

.user-data{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  @include adaptiveValue(margin-bottom, 40, 30);

  .user-data__wrapper{
    width: 100%;

    .user-data__input{
      padding: 10px 15px;
      width: 100%;
      border-radius: 5px;
      font-size: 18px;
    }
  }
}

.brif__content{
  color: $color_1;
  background: $color_3;
  text-align: center;
  border-radius: 15px;
  padding-top: 50px;
  a{
    text-decoration: underline;
    color: $color_1;
  }

  @include mq('desktop') {
    width: 570px;
    max-width: 570px;
  }
}

.modal-form__btn{
  margin: 30px auto 0;
  width: 260px;
}

.massagename__content{
  text-align: center;
  min-width: 320px;
}



.popup_massagename-message{

  .popup__content{
    padding: 0;
    overflow: hidden;
    border-radius: rem(15);
    background: $color_1;
  }

  .popup__close {
    @include maq('tablet-wide') {
      path{
        fill: #000 !important;
      }
    }
  }

  .popup-body{
    display: grid;
    @include mq('tablet-wide') {
      grid-template-columns: 2fr 1fr;
    }
  }

  .popup-body__content{
    padding: rem(20);
    @include mq('tablet-wide') {
      padding: rem(40);
    }
  }

  .popup__title{
    color: $color_3;
  }
  .popup__description{
    @include adaptiveValue(font-size, 18, 16);
  }
  .popup__name{
    @include adaptiveValue(font-size, 24, 18);
    margin-top: rem(30);
  }
  .popup__post{
    color: $color_7;
  }
  .popup-body__img-ibg{
    min-height: rem(250);
  }
}
