section.busyness
    .busyness__container
        h2.busyness__title Что получит ваш ребенок в лагере
        .busyness__grid.busyness-grid
            .busyness-grid__item
                img(src='img/svg/1.svg')
                h6 Создание проекта
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique massa donec id metus risus morbi in natoque. Ac neque non, amet, lacinia ullamcorper venenatis donec in pellentesque.
            .busyness-grid__item
                img(src='img/svg/2.svg')
                h6 Создание проекта
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique massa donec id metus risus morbi in natoque. Ac neque non, amet, lacinia ullamcorper venenatis donec in pellentesque.
            .busyness-grid__item
                img(src='img/svg/3.svg')
                h6 Создание проекта
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique massa donec id metus risus morbi in natoque. Ac neque non, amet, lacinia ullamcorper venenatis donec in pellentesque.
            .busyness-grid__item
                img(src='img/svg/4.svg')
                h6 Создание проекта
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique massa donec id metus risus morbi in natoque. Ac neque non, amet, lacinia ullamcorper venenatis donec in pellentesque.
            .busyness-grid__item
                img(src='img/svg/5.svg')
                h6 Создание проекта
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique massa donec id metus risus morbi in natoque. Ac neque non, amet, lacinia ullamcorper venenatis donec in pellentesque.
            .busyness-grid__item
                img(src='img/svg/6.svg')
                h6 Создание проекта
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique massa donec id metus risus morbi in natoque. Ac neque non, amet, lacinia ullamcorper venenatis donec in pellentesque.
