section.campFirst.doubleFirst
    .campFirst__container
        h2.doubleFirst__title Заголовок
        .campFirst__grid
            .doubleFirst-img
                .campFirst__img-ibg
                    img(src="img/png/2.png")
                p Татьяна Нетребко, директор школы
            .campFirst__content.doubleFirst__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget netus id nibh lacus. Nullam molestie fames ornare lobortis etiam lectus. Aliquet sed erat adipiscing egestas nulla. Cras egestas aliquam scelerisque nisl lectus. Eu mauris amet feugiat vestibulum egestas phasellus amet mauris egestas. Lacus eu id orci, scelerisque odio aliquet facilisis. Integer lorem nunc id turpis consequat mauris dolor.
                br
                p Ut aliquam pretium a molestie libero, viverra velit tellus. Sit et malesuada congue lacus. Faucibus sagittis aenean dignissim cursus gravida senectus id. Dui adipiscing sapien mattis id blandit. Sociis nunc amet, porta arcu mi a leo, ac. Suspendisse mattis et, vitae elementum ligula vestibulum.
