section.campFirst
    .campFirst__container
        .campFirst__grid
            .campFirst__img-ibg
                img(src="img/png/1.png")
            .campFirst__content
                p Purus cursus est suspendisse viverra purus. Nibh est risus pulvinar fringilla. Duis viverra enim proin rutrum vestibulum et. Ac iaculis pulvinar amet commodo rutrum nunc viverra netus sit.
                ul
                    li Возраст 7-14 лет
                    li Группы по 8 человек
                button.button ЗАБРОНИРОВАТЬ МЕСТО
