section.flow
    .flow__container
        h2.flow__title Потоки лагеря
        p Лагерь проходит с понедельника по пятницу в течении 2х недель, по графику с 09:00 до 18:00
        .flow__grid.flow-grid
            .flow-grid__item
                h3 Поток 1
                span 04 июля - 15 июля
                p 7 - 14 лет
                p 20 000 ₽
                button.button-w ОСТАВИТЬ ЗАЯВКУ
            .flow-grid__item
                h3 Поток 1
                span 04 июля - 15 июля
                p 7 - 14 лет
                p 20 000 ₽
                button.button-w ОСТАВИТЬ ЗАЯВКУ
            .flow-grid__item
                h3 Поток 1
                span 04 июля - 15 июля
                p 7 - 14 лет
                p 20 000 ₽
                button.button-w ОСТАВИТЬ ЗАЯВКУ
            .flow-grid__item
                h3 Поток 1
                span 04 июля - 15 июля
                p 7 - 14 лет
                p 20 000 ₽
                button.button-w ОСТАВИТЬ ЗАЯВКУ
