section.schedule
    .schedule__container
        h2.schedule__title Расписание занятий
        .schedule__grid
            .schedule__row-top
                span 9:00 - 11:00
                span 11:00 - 12:30
                span 12:30 - 13:30
                span 13:30 - 15:30
                span 15:30 - 17:30
                span 17:30 - 18:00
            .schedule__row-bottom
                span работа над проектом
                span творческое задание
                span вкусный обед
                span просмотр фильмов, игры
                span культурная программа
                span подведение итогов дня
