section.video
    .video__container
        .video__text
            h2.video__title  Заголовок
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu, condimentum eu velit, id facilisi vulputate placerat. Consequat egestas facilisis morbi urna nunc sit mattis quisque. Quis ultrices nunc lectus egestas. In eu a elit tortor. Sit morbi mollis non enim amet, viverra sed mauris venenatis.
        a.video__video(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" style="background-image: url('img/png/3.png');")
            .video-body__ic
                img(src="img/icons/play.svg")

